.cover__overlay {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cover__overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2a2c2f;
    object-fit: contain;
    opacity: 0.3;
    transition: opacity 0.6s ease 0s;
}


.cover__overlay:hover:before {
    opacity: 0.8;
}

@media screen and (min-width: 1280px) {
    .cover__overlay {
        min-height: 780px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        min-height: 200px;
    }
}
